name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  ci:
    name: Build, Test & Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Run tests & generate reports
        run: ./gradlew clean build jacocoMergedReport pitest --info

      - name: Prepare coverage artifacts folder
        run: |
          mkdir -p coverage-reports
          cp -r build/reports/jacoco/* coverage-reports/ || true
          cp -r build/reports/pitest/* coverage-reports/ || true
          cp -r .ci-history/* coverage-reports/.ci-history/ || true

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverage-reports
          path: coverage-reports
          retention-days: 14
